<meta property="og:site_name" content="Epiphany API Docs"  />
<meta property="og:image" content="https://isaacblueprints.com/tutorials/assets/isaacblueprints.png" />
{% if page.meta %}
    <meta property="og:title" content="{{page.meta.article}}" />
    <meta property="og:description" content="{{page.meta.blurb}} test description." />
{% else %}
    <meta property="og:title" content="Epiphany API Docs" />
    <meta property="og:description" content="test description 2." />
{% endif %}
<meta property="og:url" content="{{page.canonical_url}}" />
<meta name="theme-color" content="#566c8a" />